# Lab 5 - Group Recommenders

## Lab Setup

 * Download and extract: https://files.grouplens.org/datasets/movielens/ml-latest-small.zip
   * Read more: https://grouplens.org/datasets/movielens/
 * [optional] Create virtual enviroment
 `python3 -m venv ./recsyslab5`
 * install needed libraries:
 `pip install numpy pandas matplotlib`

## Part 1 - Data preparation and preprocessing

In [9]:
# import needed packages

import math
import numpy as np
import pandas

from random import choice, sample
from statistics import mean, stdev

from reco_utils import *

In [10]:
# read user ratings and calculate expected movie ratings with collaborative filtering

raw_ratings = pandas.read_csv('ml-latest-small/ratings.csv').drop(columns=['timestamp'])
movies = list(raw_ratings['movieId'].unique())
users = list(raw_ratings['userId'].unique())
ratings = get_predicted_ratings(raw_ratings)
ratings

Total error: 214170.09780038404
Total error: 207428.14573806542
Total error: 201160.6803795276
Total error: 195319.18872642025
Total error: 189861.42092832897
Total error: 184750.42983826736
Total error: 179953.78135130176
Total error: 175442.90076708063
Total error: 171192.52839635217
Total error: 167180.26358170254
Total error: 163386.18078545926
Total error: 159792.50480770977
Total error: 156383.33481535714
Total error: 153144.40889060387
Total error: 150062.90239044942
Total error: 147127.25465478934
Total error: 144327.01958862352
Total error: 141652.7364326853
Total error: 139095.81767081318
Total error: 136648.45153515888
Total error: 134303.51698748642
Total error: 132054.5093960615
Total error: 129895.47540822372
Total error: 127820.9557505594
Total error: 125825.93488100792
Total error: 123905.79657758829
Total error: 122056.28468262003
Total error: 120273.46833399155
Total error: 118553.71110998398
Total error: 116893.64359442676
Total error: 115290.13893702856
Total error: 113740.29104158131
Total error: 112241.39506408265
Total error: 110790.92994496405
Total error: 109386.54273573551
Total error: 108026.03451134737
Total error: 106707.34768624119
Total error: 105428.55457504926
Total error: 104187.84705873975
Total error: 102983.52723419323
Total error: 101813.99894006179
Total error: 100677.76006469275
Total error: 99573.39555312118
Total error: 98499.57103992834
Total error: 97455.0270432835
Total error: 96438.57366294757
Total error: 95449.08573153148
Total error: 94485.49837401282
Total error: 93546.80293552803
Total error: 92632.04324185448
Total error: 91740.31216086692
Total error: 90870.74843667119
Total error: 90022.53377111725
Total error: 89194.89013005082
Total error: 88387.07725402588
Total error: 87598.39035525758
Total error: 86828.15798446735
Total error: 86075.74005288456
Total error: 85340.52599614841
Total error: 84621.9330681325
Total error: 83919.40475388012
Total error: 83232.40929186816
Total error: 82560.43829673553
Total error: 81903.0054744424
Total error: 81259.64542255737
Total error: 80629.9125090434
Total error: 80013.37982349609
Total error: 79409.6381953329
Total error: 78818.29527390913
Total error: 78238.97466597027
Total error: 77671.31512624386
Total error: 77114.9697973309
Total error: 76569.60549536839
Total error: 76034.9020382362
Total error: 75510.551613336
Total error: 74996.25818221137
Total error: 74491.7369194985
Total error: 73996.71368388836
Total error: 73510.924518967
Total error: 73034.11518196126
Total error: 72566.04069856618
Total error: 72106.4649421729
Total error: 71655.1602359324
Total error: 71211.90697621337
Total error: 70776.49327611063
Total error: 70348.71462776411
Total error: 69928.37358232871
Total error: 69515.2794465242
Total error: 69109.24799476459
Total error: 68710.1011959366
Total error: 68317.66695396297
Total error: 67931.77886133756
Total error: 67552.27596488509
Total error: 67179.0025430362
Total error: 66811.80789396355
Total error: 66450.54613396227
Total error: 66095.07600550246
Total error: 65745.2606944123
Total error: 65400.9676556904
Total error: 65062.0684474741
Total error: 64728.438572720625
Total error: 64399.95732818557
Total error: 64076.507660309326
Total error: 63757.976027645294
Total error: 63444.25226948363
Total error: 63135.22948034972
Total error: 62830.80389007106
Total error: 62530.87474912678
Total error: 62235.34421900972
Total error: 61944.117267346766
Total error: 61657.101567539394
Total error: 61374.20740269643
Total error: 61095.34757364749
Total error: 60820.43731083552
Total error: 60549.39418989956
Total error: 60282.13805076698
Total error: 60018.59092008699
Total error: 59758.67693684474
Total error: 59502.32228100555
Total error: 59249.455105044624
Total error: 59000.00546822822
Total error: 58753.9052735161
Total error: 58511.08820696624
Total error: 58271.489679524326
Total error: 58035.046771090056
Total error: 57801.69817675673
Total error: 57571.38415512677
Total error: 57344.04647860684
Total error: 57119.62838559931
Total error: 56898.07453450178
Total error: 56679.33095943707
Total error: 56463.345027637624
Total error: 56250.065398412495
Total error: 56039.44198362866
Total error: 55831.42590964044
Total error: 55625.9694806069
Total error: 55423.02614313847
Total error: 55222.55045221355
Total error: 55024.49803831703
Total error: 54828.82557574494
Total error: 54635.49075202982
Total error: 54444.45223844048
Total error: 54255.66966151035
Total error: 54069.10357555459
Total error: 53884.71543613555
Total error: 53702.46757443709
Total error: 53522.32317251359
Total error: 53344.24623937657
Total error: 53168.20158788857
Total error: 52994.15481242896
Total error: 52822.072267305804
Total error: 52651.92104588051
Total error: 52483.66896038166
Total error: 52317.284522378126
Total error: 52152.736923888784
Total error: 51989.99601910384
Total error: 51829.032306693516
Total error: 51669.816912684335
Total error: 51512.32157387968
Total error: 51356.51862180556
Total error: 51202.380967162106
Total error: 51049.882084761965
Total error: 50898.99599893666
Total error: 50749.697269397264
Total error: 50601.960977528935
Total error: 50455.76271310663
Total error: 50311.078561414724
Total error: 50167.88509075867
Total error: 50026.15934035257
Total error: 49885.87880857046
Total error: 49747.021441548124
Total error: 49609.56562212435
Total error: 49473.49015910829
Total error: 49338.77427686224
Total error: 49205.39760519
Total error: 49073.34016951877
Total error: 48942.582381366
Total error: 48813.10502908033
Total error: 48684.88926884861
Total error: 48557.91661595951
Total error: 48432.16893631445
Total error: 48307.628438179614
Total error: 48184.27766416881
Total error: 48062.09948345158
Total error: 47941.077084177145
Total error: 47821.193966109866
Total error: 47702.433933466775
Total error: 47584.781087951815
Total error: 47468.21982198114
Total error: 47352.73481209222
Total error: 47238.31101253111
Total error: 47124.933649013255
Total error: 47012.58821265097
Total error: 46901.26045404396
Total error: 46790.93637752557
Total error: 46681.60223556329
Total error: 46573.24452330407
Total error: 46465.84997326612
Total error: 46359.40555016574
Total error: 46253.89844588133
Total error: 46149.316074546645
Total error: 46045.64606777019
Total error: 45942.87626997815
Total error: 45840.99473387554
Total error: 45739.98971602314
Total error: 45639.84967252669
Total error: 45540.56325483396

,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
1,5,7,7,5,5,5,6,5,8,6,...,8,8,4,8,6,5,3,6,4,7
2,9,10,6,6,10,8,5,10,2,10,...,0,0,9,8,5,10,10,10,3,6
3,4,4,4,5,3,7,10,10,6,1,...,10,9,0,10,3,7,3,0,3,10
4,6,7,6,5,7,1,6,4,9,6,...,3,10,2,6,8,3,6,5,6,10
5,4,6,10,2,4,2,0,10,8,10,...,1,8,4,10,3,10,9,10,10,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,6,6,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
607,7,7,5,5,9,2,9,3,7,7,...,5,6,9,6,6,7,5,6,8,6
608,6,6,6,6,6,6,6,5,6,5,...,7,6,6,6,6,5,6,5,5,6
609,8,9,0,2,8,10,10,5,6,5,...,7,10,1,6,0,0,0,7,10,9
610,6,6,6,5,6,6,6,6,5,6,...,6,6,6,6,7,6,6,5,6,6

In [36]:
ratings.loc[groups[0]]

,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
111,6,6,5,5,6,6,6,6,5,5,...,6,6,7,6,7,5,7,6,7,5
307,6,6,6,5,6,6,6,5,6,6,...,6,6,6,6,6,6,6,6,7,6
474,6,6,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
599,6,6,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,7,7,6
414,6,6,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6

In [23]:
# read movie categories

movies_metadata = pandas.read_csv('ml-latest-small/movies.csv').set_index('movieId')
movies_metadata

,title,genres
movieId,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji (1995),Adventure|Children|Fantasy
3,Grumpier Old Men (1995),Comedy|Romance
4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,Father of the Bride Part II (1995),Comedy
...,...,...
193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
193585,Flint (2017),Drama
193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [19]:
df = pandas.read_csv('groups.csv')
df.shape

(8, 5)

In [38]:
# read example user groups
groups = pandas.read_csv('groups.csv',header=None).values.tolist()
groups

[[606, 274, 474, 599, 448],
 [111, 307, 474, 599, 414],
 [469, 182, 232, 448, 600],
 [508, 581, 497, 402, 566],
 [300, 515, 245, 568, 507],
 [2, 371, 252, 518, 37],
 [269, 360, 469, 287, 308],
 [243, 527, 418, 118, 370],
 [186, 559, 327, 553, 314]]

In [24]:
# helper function

def describe_group(group, N=10):
    print(f'\n\nUser ids: {group}')
    group_size = len(group)
    
    mean_stdev = ratings.loc[group].std(axis=0).mean()
    median_stdev = ratings.loc[group].std(axis=0).median()
    std_stdev = ratings.loc[group].std(axis=0).std()
    print(f'\nMean ratings deviation: {mean_stdev}')
    print(f'Median ratings deviation: {median_stdev}')
    print(f'Standard deviation of ratings deviation: {std_stdev}')
    
    average_scores = ratings.iloc[group].mean(axis=0)
    average_scores = average_scores.sort_values()
    best_movies = [(movies_metadata['title'][movie_id], average_scores[movie_id]) for movie_id in list(average_scores[-N:].index)]
    worst_movies = [(movies_metadata['title'][movie_id], average_scores[movie_id]) for movie_id in list(average_scores[:N].index)]
    
    print('\nBest movies:')
    for movie, score in best_movies[::-1]:
        print(f'{movie}, {score}*')
    print('\nWorst movies:')
    for movie, score in worst_movies:
        print(f'{movie}, {score}*')

describe_group(groups[7])

User ids: [186, 559, 327, 553, 314]

Mean ratings deviation: 3.111895921101595
Median ratings deviation: 3.1304951684997055
Standard deviation of ratings deviation: 0.9164014063709972

Best movies:
Banger Sisters, The (2002), 9.6*
Nobody Knows (Dare mo shiranai) (2004), 9.6*
A Street Cat Named Bob (2016), 9.6*
Fifty Shades of Grey (2015), 9.6*
Adventures of Huck Finn, The (1993), 9.6*
War of the Worlds (2005), 9.6*
I Want to Live! (1958), 9.6*
Spring (2015), 9.4*
I'll Be Home For Christmas (1998), 9.4*
Legend of Rita, The (Stille nach dem Schuß, Die) (1999), 9.4*

Worst movies:
Moby Dick (1956), 1.2*
Ender's Game (2013), 1.2*
Miller's Crossing (1990), 1.2*
Cat People (1982), 1.2*
September (1987), 1.4*
Endgame (2009), 1.4*
Highway 61 (1991), 1.4*
Zathura (2005), 1.4*
Big Year, The (2011), 1.4*
Tinker, Tailor, Soldier, Spy (1979), 1.4*

## Part 2 - simple algorithms

In [ ]:
# define an interface for all recommending algorithms

class Recommender:
    def recommend(self, movies, ratings, group, size):
        pass

# random algorithm - baseline and comparison
    
class RandomRecommender(Recommender):
    def __init__(self):
        self.name = 'random'
        
    def recommend(self, movies, ratings, group, size):
        return sample(movies, size)

In [ ]:
# recommend movies with the highest average rating

class AverageRecommender(Recommender):
    def __init__(self):
        self.name = 'average'
    
    def recommend(self, movies, ratings, group, size):
        movie_idx = ratings.loc[group,].mean().sort_values(ascending=False)[:size].index
        return movies.loc[movie_idx]

In [61]:
movie_idx = ratings.loc[groups[0],].mean().sort_values(ascending=False)[:5].index
movies_metadata.loc[movie_idx]

                                 title        genres
42018   Mrs. Henderson Presents (2005)  Comedy|Drama
77266                  Disgrace (2008)         Drama
141820         Old Men: Robbers (1971)        Comedy
26498            Boy Meets Girl (1984)         Drama
8875    Come Back, Little Sheba (1952)         Drama

In [44]:
# highest average rating but without movies with at least one score below the threshold

class AverageWithoutMiseryRecommender(Recommender):
    def __init__(self, score_threshold):
        self.name = 'average_without_misery'
        self.score_threshold = score_threshold
        
    def recommend(self, movies, ratings, group, size):
        raise NotImplementedError()

NameError: name 'Recommender' is not defined

In [ ]:
# preferences of only one user in every iteration

class FairnessRecommender(Recommender):
    def __init__(self):
        self.name = 'fairness'
        
    def recommend(self, movies, ratings, group, size):
        raise NotImplementedError()

In [ ]:
# election algorithms (dictatorship, Bord, Copeland, simple vote)

class VotingRecommender(Recommender):
    def __init__(self):
        self.name = # name of the algorithm
    
    def recommend(self, movies, ratings, group, size):
        raise NotImplementedError()

In [ ]:
# greedy algorithm, approximate Proportional Approval Voting
#in every iteration chose the movie that improves the PAV score

class ProportionalApprovalVotingRecommender(Recommender):
    def __init__(self, threshold):
        self.threshold = threshold
        self.name = 'PAV'
        
    def recommend(self, movies, ratings, group, size):
        raise NotImplementedError()

## Part 3 - Objective function

In [ ]:
# 2 helper functions
# find user's favourite movies
# calculate the sum of ratings given by a user for all movies in a give recommendation

def top_n_movies_for_user(ratings, movies, user_id, n):
    raise NotImplementedError()

def total_score(recommendation, user_id, ratings):
    raise NotImplementedError()

In [ ]:
# function to calculate the satisfaction score for each user
# fraction - satisfaction from generated recommendation/satisfaction from ideal recommendation
def overall_user_satisfaction(recommendation, user_id, movies, ratings):
    raise NotImplementedError()

# objective function - average satisfaction for all users in a group
def overall_group_satisfaction(recommendation, group, movies, ratings):
    raise NotImplementedError()

# objective function - difference between the highest and lowest satisfaction score
def group_disagreement(recommendation, group, movies, ratings):
    raise NotImplementedError()

## Part 4 - Sequential Hybrid Aggregation

In [ ]:
# Algorithm to balance between highest scored elements and highest minimal score
# in each iteration calcuate the alpha parameter
class SequentialHybridAggregationRecommender(Recommender):
     def __init__(self):
        self.name = 'sequential_hybrid_aggregation'
    
    def recommend(self, movies, ratings, group, size):
        raise NotImplementedError()

## Part 5 - Algorithm comparison

In [ ]:
recommenders = [
    RandomRecommender(),
    AverageRecommender(),
    AverageWithoutMiseryRecommender(5),
    FairnessRecommender(),
    VotingRecommender(),
    ProportionalApprovalVotingRecommender(5),
    SequentialHybridAggregationRecommender()
]

recommendation_size = 10

# for each algorithm:
#  - generate one recommendation for each group
#  - calculatevalue of both objective functions for each recommendation
#  - calculate mean and standard deviation for both objective functions
#  - print the results


for recommender in recommenders:
    raise NotImplementedError()